.hp-background {
  position: relative;
  width: 100%; /* Adjust to fit your container's width */
  height: 500px; /* Adjust height as per requirement */
  background-image: url('https://cdn.dribbble.com/users/325593/screenshots/7727910/media/9828307cca012ac9b9f8be7fa0b89257.jpg?resize=800x600&vertical=center');
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
    min-height: 100vh; /* Full viewport height */
  
  
}

.home-page {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url('https://cdn.dribbble.com/users/325593/screenshots/7727910/media/9828307cca012ac9b9f8be7fa0b89257.jpg?resize=800x600&vertical=center');
  background-size: cover; /* Ensures the image covers the viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  overflow: auto;
  padding: 20px;
}


.title {
  text-align: center;
  margin-bottom: 20px;
  color: #1d1d1d;
}
/* Habit Tracker Styles */
.add-habit-card {
  margin: 20px auto;
  padding: 10px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
}

.habit-input {
  width: 70%;
  margin-right: 10px;
}

.add-button {
  vertical-align: top;
}

.habit-list {
  margin-top: 20px;
  background-color: #fff;
}

.habit-item {
  padding: 10px;
}

.habit-name {
  font-size: 16px;
}

.completed-text {
  text-decoration: line-through;
  color: gray;
}
